html {
  text-align: center;
  color: #232323;
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  margin: 20px;
  padding: 20px;
}

.h1 {
  font-size: 5em;
}

.content {
  display: grid;
  grid-template-columns: auto;
  font-size: 200%;
  padding: 3em;
  text-color: yellow;
  border-style: solid;
  border-width: 5px;
  margin: 20px;
}

@media only screen and (min-width: 1440px) {
  /* For larger screens */
  [class="global"] {
    font-size: 100%;
  }
  [class="content"] {
    grid-template-columns: auto auto auto auto auto;
  }
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}

.button {
  background-color: #232323;
  border: solid;
  color: #f0f0f0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 50%;
  transition-duration: 0.3s;
}

.button:hover {
  background-color: #f0f0f0;
  color: #232323;
}

.button:active {
  box-shadow: 0 0 0 0 #232323;
  transform: scale(96%);
}
